.App {
  text-align: center;
  
}

html {
  font-size: 125%;
}

.wrapper {
  max-width: 1200px;
  width: 85%;
  margin: 0 auto;
}

body {
  background-image: url(../assets/felix-mooneeram-evlkOfkQ5rE-unsplash.jpg);
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-color: black;
  color: white;
  height: 100%;

}

.header {
  display: flex;
  flex-direction: column;
  align-items: center;
  /* margin-top: px; */
}

.header h1 {
  font-family: 'Koulen', cursive;
  font-size: 5rem;
  margin-top: 20px;
  margin-bottom: 25px;
  color: #E50914;
  line-height: 4rem;
}

.header p {
  padding: 10px 0px;
  margin: 10px 0px;
  font-weight: bold;
}

.headerText {
  width: 60%;
}

.watch {
  color: #E50914;
  background-color: black;
  border: 2px solid #E50914;
  border-radius: 10px;
  padding: 15px 38px 15px 40px;
  font-size: 1.5rem;
  font-family: 'Koulen', cursive;
  position: relative;
  bottom: 50px;
  margin: 50px 0px;
  letter-spacing: 5px;
  box-shadow: 0 9px #9c060e;
}

.watch:hover, .watch:focus {
  background-color: white;
  transition: 0.3s background-color;
}

.watch:active {
  box-shadow: 0 4px #9c060e;
  transform: translateY(3px);
}



.resultContainer {
  display: flex;
  align-items: center;
  justify-content: space-around;
  background-color: rgba(0, 0, 0, 0.7);
  margin-bottom: 40px;
  padding: 25px 0px;
}

.imageContainer {
  width: 40%;
}

.imageContainer img {
  width: 100%;
}

.textContainer {
  width: 40%;
  text-align: left;
  font-size: 1.2rem;
}

.textContainer span {
  font-weight: bold;
}

.footer {
  position: fixed;
  width: 100%;
  bottom: 0;
  left: 0;
  background-color: black;
  color:#E50914
}

@media (max-width: 860px) {

  .header h1 {
    font-size: 4rem;
  }

  .headerText {
    width: 90%;
  }

  .imageContainer {
    width: 50%;
  }

  .textContainer {
    font-size: 1rem;
  }

}

@media (max-width: 760px) {

  .header {
    margin-top: 30px;
  }

  .resultContainer {
    flex-direction: column;
  }

  .imageContainer, .textContainer {
    width: 80%;
  }

}

@media (max-width: 400px) {

  .header {
    margin-top: 0px;
  }

  .header h1 {
    font-size: 3rem;
  }

  .header p{
    font-size: 0.9rem;
  }

  .footer p{
    font-size: 0.7rem;
  }

}